@model SchoolSystem.Models.Student

@{
    ViewBag.Title = "ModelStudy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ModelStudy</h2>
<pre>

What is Model?
model is a c sharp class which help user to fetch a data from a database/list/array/dataset


Who uses Model?
Controller Take a mode; from model class and passes toward view and view display that model

</pre>
<br />
<hr />
<table>
    <tr>
        <td>id</td>
        <td>@Model.id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
</table>
